@use 'common';

.TopBanner {
    position: relative;
    background: common.$mc;
    color: common.$wc;
    // padding: 1rem 0;
    line-height: 4rem;
    text-align: center;
    font-size: 1.5rem;

    .icon {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translateY(-50%);

        &.left {
            margin: 0 0 0 -200px;
        }

        &.right {
            margin: 0 0 0 200px;
        }
    }
}